/* Title section */

#title {
  background-color: rgb(1 151 228);
  text-align: start;
  color: white;
  padding: 7% 15%;
}

h1 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: white;
}

.herramienta-card:hover {
  border-radius: 4px;
  transition-duration: 0.5s;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
}

.hook {
  color: white;
  padding-top: 5%;
  font-family: "Ubuntu";
  font-size: 1.5rem;
}

.title-image {
  margin: 7% 0;
  width: 40%;
  position: absolute;
  right: 9.7%;
}

.cta-btn {
  transition: 0.2s all;
  margin: 5% 0;
}
.bg-custom {
  padding-top: 10px;
  padding-bottom: 100px;
  background-color: rgb(1 151 228);
}

/* Nosotros Section */

#nosotros {
  text-align: center;
  padding: 7% 15%;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 3rem;
  color: #005772;
}

p {
  margin: 0 10%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  /* color: #2b2862; */
  margin-left: 25px;
}

hr {
  margin: 30px auto;
  width: 10%;
  border-top: 5px solid;
  color: rgb(1 151 228);
  opacity: 1;
}

.statistic {
  color: white;
}

.statistic-description {
  font-size: 1.3rem;
  text-align: left;
  padding-top: 5%;
  margin-top: 15%;
}

.aParent div {
  float: left;
  clear: none;
}
.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 2rem 0;
  /* margin-top: 10%; */
  margin-right: 5%;
  background: rgb(1 151 228);
}
.circle:hover {
  background: #005772;
  transition-duration: 0.5s;
}

.choices-img {
  width: 50%;
  margin-top: 10%;
}

.foot {
  margin: 7% 0%;
}

/* Herramientas */

#herramientas {
  padding: 7% 15%;
  text-align: center;
  background-color: #e3f4fc;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #005772;
}

.icon {
  padding: 15px 0;
  color: rgb(1 151 228);
}

.icon:hover {
  transition-duration: 0.5s;

  color: #005772;
}

/* Press */
.carousel-item {
  transition-duration: 10s;
  transition-timing-function: linear;
}

/* Metodología */

#metodología {
  text-align: center;
  padding: 7% 15%;
  font-family: "Montserrat", sans-serif;
}

.vl {
  margin: 30px auto;
  width: 100%;
  border-top: 5px solid;
  color: gray;
  opacity: 1;
}

/* TESTIMONIOS */

#testimonios {
  text-align: center;
  padding: 7% 15%;
  font-family: "Montserrat", sans-serif;
}
.card {
  background-color: #fff;
  max-width: 1200px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 2% 5%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
  }

  .choices-img {
    padding-top: 10%;
  }

  .title-image {
    position: static;
    width: 100%;
  }

  .circle {
    height: 75px;
    width: 75px;
    padding: 1.5rem 0;
  }

  .statistic-description {
    font-size: 1.15rem;
    text-align: left;
    padding-top: 5%;
    margin-top: 12%;
  }

  h1 {
    font-size: 3rem;
  }

  .herramienta-descripcion {
    padding-bottom: 30px;
  }
}
